@import 'partials/variables';

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: snow;
}

h1{
    color: $maincolor;
    background-color: $mainbg;
    padding: 15px;
}
p{
    color: $maincolor;
    background-color: $mainbg;
    padding: 35px;
}

button{
    color: $maincolor;
    background-color: $mainbg;
}