// Variable
$maincolor: palevioletred; 

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: snow;
}

h1{
    color: $maincolor;
}
p{
    color: palevioletred;
    background-color: antiquewhite;
    padding: 35px;
}

button{
    color: $maincolor;
}