@import 'partials/variables';
@import 'partials/common';


h1{
    color: $maincolor;
    background-color: $mainbg;
    padding: 15px;
}
p{
    color: $maincolor;
    background-color: $mainbg;
    padding: 35px;
}

button{
    color: $maincolor;
    background-color: $mainbg;
}